<!doctype html>
<title> NewsParser-3000 </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>
	<h1 class='h1'>NewsParser-3000</h1>
</nav>
<section class="content">
	<p>
	This mini-app allows analyzing information about selected topics using google.news newsfeed. It clusters the collected articles about the subject with KMeans method. Different clusters presented with different wordclouds. If you want to know more about this project, you can visit <a href="https://github.com/farimano/news-parser">github of this project</a>.
	</p>
	<p>
	Try it yourself: just type in what do you want to analyze in the form below. Consider that this process may take one-two minute. Be aware that some wordclouds may contain "noise" words. However, most word pictures are pretty informative.
	</p>
	<p>
	Be cautious that some words may be related to prohibited movements.
	</p>
	<form method='post'>
		<input type="text" placeholder="Enter topic you want analyze. For example: Russia" class="text1" name="key_word" required>
		<input type="submit" name="submit_button" value="Start analysis" class="button1">
	</form>
	{% if out %}
		<img src={{out}} class="center"></img>
	{% endif %}
</section>